<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}Academic Website{% endblock %}</title>
    <style>
      input {
        display: block;
      }
    </style>
  </head>

  <body>

  <div class="content">
    {% block maincontent %}

    {% endblock %}
  </div>

  <div>
    <footer>
      <hr/>
      <p>
        {% if not user %}
          <a href="/login">Login (and forgot password)</a>
        {% else %}
          Logged in as <span style="background-color: OldLace">{{ user.name }}</span> | <a href="/logout">Logout</a>
        {% endif %}
        |
        <a href="/student">Home</a>
        |
        <a href="/student/info">Show personal information</a>
        |
        <a href="/student/cart">Registration Cart </a>
      </p>

    </footer>
  </div>


  </body>
</html>
